{% extends "base.html" %}

{% block head %}
{{ super() }}
<link
href="{{ url_for('static', path='/css/signup.css') }}"
rel="stylesheet"
/>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <p class="display-5 text-center">Websocket Chat Example</p>
    <div class="container chat-window border mt-3">
      <div class="card">
        <div class="card-header">
          <i class="fa-regular fa-user"></i> Username
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A sample text message.</p>
            <footer class="blockquote-footer">Timestamp</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container chat-input">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"
            ><i class="btn fa-sharp fa-regular fa-paper-plane"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Hello there!"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
